@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@layer components {
  .btn-redbul {
    @apply py-6 px-20 border-2 rounded-full bg-purple-500 hover:bg-purple-800 hover:text-white focus:ring-2 focus:ring-red-500 transition;
  }
}
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-7xl;
  }
} */

/* @layer utilities {
  .max-w-600 {
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
} */
