@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-redbul {
    @apply py-6 px-20 border-2 rounded-full bg-purple-500 hover:bg-purple-800 hover:text-white focus:ring-2 focus:ring-red-500 transition;
  }
}
